body{
    margin: 0px;
    padding:0px;
   
}
.container{
    width: 100vw;
    height:80vh;
    background-color: #ffcd9e;
    padding: 30px;
    padding-right: 30px;
    padding-left: 100px;
    display: flex;
    box-sizing: border-box;
}
.footer{
    width: 100vw;
    height: 30vh;
    background-color:#282828;
    padding: 100px;
    padding-top: 30px;
    padding-bottom: 0px;;
    box-sizing: border-box;
        
}
h1{
    text-align: center;
    font-size: 30px;
    text-align: left;
    font-family:sans-serif
    
}
p{
    text-align: left;
    font-size:16px;
    font-family:cursive;   
}

a{
    text-decoration: none;
}

input{
    width:180px;
    height: 30px;
    border: 2.5px solid black;
    border-radius: 5px;
    padding-left: 10px;
}
button{
     background-color: #282828;
     color:white;
     width:145px;
     height: 34.40px;
     border-radius: 5px;
     border: 2.5px solid #282828;
     padding: 2px;
}
span{
    color: white;
    font-size: 13px;
    margin-left: 13.5px;
    display: flex;
    padding-top: 10px;

}
i{
   padding: 5px;
   padding-bottom: 0px;
   font-size: 19.5px;
   color: #ffdab9;
}
.right-content{
     width: 40vw;
     height: 70vh;
     background-image: url("man.svg");
     background-size: cover; 
     align-items: flex-end;
     margin-left: 230px;
     
}
li{
    list-style: none;
    padding: 3px;
    color: white;
    font-size: 13px;
    font-family:sans-serif;
}
.footer-right{
    text-align: right; 
    padding-right: 40px;   
}
.footer-left{
    text-align: left;
    padding-left: 40px;   
}
ul{
    padding-left: 0px;
}


